body
{
	background: #FFFFFF;
	color: #333333;
	font-size: 13px;
	text-align: center;
	margin: 0px;
}
td
{
	font-size: 13px;
}
input, textarea
{
	font-size: 12px;
	border-width: 1px;
}
select
{
	font-size: 12px;
	border-width: 1px;
}
form
{
	margin: 0px;
	padding: 0px;
}
ul.nl
{
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
}
ul.nl li
{
	height: 20px;
	padding-top: 3px;
	padding-left: 15px;
	background: url(bullet.gif) no-repeat 0px;
	background-position: left 4px;
}
ul li.fixed
{
	height: 20px;
	padding-top: 3px;
	padding-left: 15px;
	background: url(top.gif) no-repeat 0px;
	background-position: left 1px;
}
table.thumbnail
{
	border: #F7F7F7 1px solid;
	background: #E5E5E5;
	word-break: break all;
	word-wrap: word-break;
}
table.thumbnail td
{
	padding: 3px;
	background: #ffffff;
	border: #B2B2B2 1px solid;
}
table.thumbnail td img
{
	border: #999999 1px solid;
}

a:link, a:visited
{
	color: #000000;
	text-decoration: none;
}
a:hover
{
	color: #000000;
	text-decoration: underline;
}

a.highlight:link, a.highlight:visited
{
	color: red;
	text-decoration: none;
}
a.highlight:hover
{
	color: red;
	text-decoration: underline;
}

a.thisclass:link, a.thisclass:visited
{
	color: #D9EBFD;
	font-weight: bold;
	text-decoration: none;
}
a.thisclass:hover
{
	color: #FFFFFF;
	font-weight: bold;
}

.twidth
{
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}
.content
{
	font-size: 14px;
	font-family: ו,Arial;
	line-height: 140%;
	margin: 5px 20px;
}
.content A:visited, .content A:link
{
	color: blue;
	text-decoration: underline;
}
.content A:hover
{
	color: red;
}
.aTitle
{
	font-size: 15px;
	font-weight: bold;
}
.subTitle
{
	font-size: 12px;
	font-weight: bold;
}
.alignTop
{
	vertical-align: top;
}
.alignCenterTop
{
	vertical-align: top;
	text-align: center;
}

.tdpadding
{
	padding:10px 0px 10px 0px;	
}

#sitehead
{
	width: 100%;
}
#sitehead td.m
{
}
#sitehead td.l
{
	width: 0px;
}
#sitehead td.r
{
	width: 0px;
}

#middle
{
	width: 100%;
}
#footer
{
	width: 100%;
	height: 60px;
	border-top: 1px solid #EEEEEE;
}

#navbar
{
	width: 100%;
}
#navbar td.m
{
	height: 34px;
	background: url(navbar.gif);
	text-align: center;
}
#navBar td.m img
{
	vertical-align: middle;
}
#navbar td.l
{
	width: 4px;
	background: url(navbar_l.gif);
}
#navbar td.r
{
	width: 4px;
	background: url(navbar_r.gif);
}
#navbar td a:link, #navbar td a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
#navbar td a:hover
{
	color: #FFFFFF;
	text-decoration: none;
}

#navsub
{
	width: 100%;
}
#navsub td.m
{
	height: 26px;
	background: url(navsub.gif);
	text-align: center;
}
#navsub td.l
{
	display: none;
	width: 0px;
}
#navsub td.r
{
	display: none;
	width: 0px;
}

#navsub2
{
	width: 100%;
}
#navsub2 td.m
{
	background: #FCFCFC;
	height: 23px;
	text-align: left;
}
#navsub2 td.l
{
	display: none;
	width: 10px;
}
#navsub2 td.r
{
	display: none;
	width: 10px;
}

.bulletin a:link, .bulletin a:visited
{
	color: #606060;
	text-decoration: none;
}
.bulletin a:hover
{
	color: #333333;
	text-decoration: none;
}
.bulletin div.body
{
}

.lframe
{
	width: 196px;
	text-align: left;
}
.lframe table
{
	table-layout: fixed;
}
.lframe td table
{
	table-layout: auto;
}
.lframe td.tm
{
	height: 34px;
	background: url(lframe_t.gif);
}
.lframe td.tm img
{
	vertical-align: middle;
}
.lframe td.tl
{
	width: 20px;
	background: url(lframe_t_l.gif);
}
.lframe td.tr
{
	width: 4px;
	background: url(lframe_t_r.gif);
}
.lframe span.tt
{
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
}
.lframe td.mm
{
	background: #FFFFFF;
	padding: 3px;
}
.lframe td.ml
{
	width: 0px;
	background: #DDDDDD;
}
.lframe td.mr
{
	width: 1px;
	background: #DDDDDD;
}
.lframe td.bm
{
	height: 12px;
	border-top: 1px solid #E6E6E6;
	background: url(shadow.gif) no-repeat;
}
.lframe td.bl
{
	display: none;
	width: 18px;
}
.lframe td.br
{
	display: none;
	width: 22px;
}

.mframe
{
	text-align: left;
}
.mframe table
{
	table-layout: fixed;
}
.mframe td table
{
	table-layout: auto;
}
.mframe td.tm
{
	height: 35px;
	background: url(mframe_t.gif);
}
.mframe td.tm img
{
	vertical-align: middle;
}
.mframe td.tl
{
	width: 20px;
	height: 35px;
	background: url(arrow.gif) no-repeat;
}
.mframe td.tr
{
	width: 3px;
	height: 35px;
	background: url(mframe_t_r.gif);
}
.mframe span.tt
{
	color: #5A92E6;
	font-weight: bold;
	padding-left: 10px;
}
.mframe td.mm
{
	background: #FCFCFC;
}
.mframe td.ml
{
	width: 0px;
	background: #E1E0E0;
}
.mframe td.mr
{
	width: 0px;
	background: #E1E0E0;
}
.mframe td.bm
{
	display: none;
	height: 0px;
	font-size: 1px;
	background: #E1E0E0;
}
.mframe td.bl
{
	display: none;
	width: 18px;
}
.mframe td.br
{
	display: none;
	width: 22px;
}

.rframe
{
	width: 196px;
	text-align: left;
}
.rframe table
{
	table-layout: fixed;
}
.rframe td table
{
	table-layout: auto;
}
.rframe td.tm
{
	height: 34px;
	background: url(lframe_t.gif);
}
.rframe td.tm img
{
	vertical-align: middle;
}
.rframe td.tl
{
	width: 20px;
	background: url(lframe_t_l.gif);
}
.rframe td.tr
{
	width: 4px;
	background: url(lframe_t_r.gif);
}
.rframe span.tt
{
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 10px;
}
.rframe td.mm
{
	background: #FFFFFF;
	padding: 3px;
}
.rframe td.ml
{
	width: 0px;
	background: #DDDDDD;
}
.rframe td.mr
{
	width: 1px;
	background: #DDDDDD;
}
.rframe td.bm
{
	height: 12px;
	border-top: 1px solid #E6E6E6;
	background: url(shadow.gif) no-repeat;
}
.rframe td.bl
{
	display: none;
	width: 18px;
}
.rframe td.br
{
	display: none;
	width: 22px;
}

.summary-title
{
	background: #F9F9F9;
	font-weight: bold;
	height: 25px;
}

.gray
{
	color: gray;
	text-decoration: none;
}
.time
{
	color: #FF6600;
}
.hit
{
	color: green;
}

.tdbg
{
	background: #FFFFFF;
	line-height: 120%;
}
.tdbg-dark
{
	background: #F8F8F8;
	line-height: 120%;
}


.hr
{
	background: url(hr.gif);
	height: 2px;
}
.inputbg
{
}
.quote
{
	margin: 10px;
	margin-left: 2em;
	border: 1px solid #CCCCCC;
	padding: 5px;
	background: #FFFFFF;
	font-family: Verdana,Arial,ו;
	word-break: break-all;
}


.menuskin
{
	border-right: #5A92E6 1px solid;
	border-top: #5A92E6 1px solid;
	visibility: hidden;
	font: 12px verdana;
	border-left: #5A92E6 1px solid;
	border-bottom: #5A92E6 1px solid;
	position: absolute;
	background-color: #F2F1F6;
	text-align: left;
}
.menuskin a
{
	padding-right: 8px;
	padding-left: 10px;
	color: black !important;
	text-decoration: none;
}
.menuskin a:hover
{
	text-decoration: none;
}
#mouseoverstyle
{
	border-right: #ECECF4 1px solid;
	padding-right: 0px;
	border-top: #ECECF4 1px solid;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 2px;
	border-left: #ECECF4 1px solid;
	padding-top: 0px;
	border-bottom: #ECECF4 1px solid;
	background-color: #5A92E6;
}
#mouseoverstyle a
{
	color: black;
}
.menuitems
{
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	margin: 2px;
	padding-top: 1px;
}

.tdbg { background: #f2f8ff ; line-height:120%}